= simple_form_for([:admin, :property, @image], html: { class: 'ui form' }) do |f|
  .required.field
    = f.label :image, 'Imagem'
    = f.file_field :image

  .two.fields
    .required.field
      = f.label :name, 'Nome'
      = f.input_field :name

    .required.field
      = f.label :order, 'Ordem'
      = f.input_field :order, as: :string, class: 'only_number'

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar
