%h2.ui.header
  = image_tag @customer.logo, class: 'ui image'
  .content
    = "#{@customer.fantasy_name}"

.ui.divider

%table.ui.definition.table
  %tbody
    %tr
      %td.four.wide.column Nome fantasia
      %td= @customer.fantasy_name
    %tr
      %td Descrição
      %td= @customer.description
    %tr
      %td Canal
      %td= @customer.plugin_text
    %tr
      %td Ativo?
      %td= @customer.status
    %tr
      %td Data de criação
      %td= @customer.created_at
    %tr
      %td Última atualização
      %td= @customer.updated_at
