%tr
  %td= customer.fantasy_name
  %td= customer.name
  %td= customer.full_address
  %td= customer.status_text
  %td
    .ui.primary.buttons
      = link_to 'Detalhes', admin_customer_path(customer.id), class: 'ui button'

      .ui.floating.dropdown.icon.button
        %i.dropdown.icon
        .menu
          = link_to edit_admin_customer_path(customer.id), class: 'item' do
            %i.edit.icon
            Editar

          = link_to admin_customer_path(customer.id), method: :delete,
              data: { confirm: 'Tem certeza de que deseja remover esse cliente?' },
              class: 'item' do

            %i.delete.icon
            Remover
