= simple_form_for([:admin, @customer], html: { class: 'ui form' }) do |f|
  .ui.dividing.header Dados gerais

  .two.fields
    .required.field
      = f.label :fantasy_name, 'Nome fantasia'
      = f.input_field :fantasy_name

    .required.field
      = f.label :name, 'Razão social'
      = f.input_field :name

  .two.fields
    .required.field
      = f.label :customer_type, 'Tipo'
      = f.select :customer_type, Customer.customer_type.options, {},
        { class: 'ui dropdown' }

    .required.field
      = f.label :document, 'CPF'
      = f.input_field :document, class: 'person_document'

  .two.fields
    .required.field
      = f.label :plugin, 'Canal'
      = f.select :plugin, Customer.plugin.options, {}, { class: 'ui dropdown' }

    .field
      = f.label :logo, 'Logomarca'
      = f.file_field :logo

  .field
    = f.label :description, 'Descrição'
    = f.input :description, as: :text, label: false

  - if @customer.plugin.present? && @customer.plugin.property?
    .required.field
      = f.label :additional_info, 'CRECI'
      = f.input_field :additional_info

  .ui.dividing.header Dados para contato

  .three.fields
    .required.field
      = f.label :owner_name, 'Nome do responsável'
      = f.input_field :owner_name

    .required.field
      = f.label :owner_email, 'E-mail do responsável'
      = f.input_field :owner_email

    .field
      = f.label :owner_phone, 'Telefone do responsável'
      = f.input_field :owner_phone, class: 'phone'

  .field
    = f.label :contact_email, 'E-mail para contato'
    = f.input_field :contact_email

  .field
    = f.label :contact_phone, 'Telefone para contato'
    = f.input_field :contact_phone, name: 'contact_phone[]', class: 'phone',
      value: @customer.contact_phone.first

  - @customer.contact_phone.drop(1).each do |phone|
    .field
      = render partial: 'contact_phone', locals: { phone: phone }

  #contact_phones

  .field
    = link_to 'Adicionar telefone',
      add_contact_phone_admin_customers_path, remote: true

  .ui.dividing.header Dados de localização

  .four.fields
    .field
      = label :region, :city_id, 'Bairro/Distrito'
      = collection_select :region, :city_id, City.all, :friendly_id, :name,
        { include_blank: 'Selecione' }, { class: 'ui dropdown', 'data-city': 'region_city_id' }

    .field
      = label :region, :district_group_id, 'Grupo de quadras'
      = grouped_collection_select :region, :district_group_id, City.all,
        :district_groups, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district-group': 'region_district_group_id' }

    .field
      = label :region, :district_id, 'Quadra'
      = grouped_collection_select :region, :district_id, DistrictGroup.all,
        :districts, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district': 'region_district_id' }

    .field
      = f.label :block_id, 'Bloco'
      = f.grouped_collection_select :block_id, District.all,
        :blocks, :name, :id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-block': 'customer_block_id' }

  .field
    = f.label :address_complement, 'Complemento'
    = f.input_field :address_complement

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar

= javascript_include_tag 'region-filter'

:javascript
  $(function() {
    city        = "#{@customer.block.district.district_group.city.slug rescue ''}"
    group       = "#{@customer.block.district.district_group.slug rescue ''}"
    district    = "#{@customer.block.district.slug rescue ''}"

    $(city_element).val(city).change();
    $(group_element).val(group).change();
    $(district_element).val(district).change();
  });
