= simple_form_for([:admin, :customer_common, @customer],
    html: { class: 'ui form' }) do |f|

  .ui.dividing.header Dados gerais

  - column_count = (@customer.customer_common.plugin.property?) ? 'four' : 'three'

  %div{ class: "#{column_count} fields" }
    .required.field
      = f.label :name, 'Nome'
      = f.input :name, label: false

    .required.field
      = f.label :customer_type, 'Tipo'
      = f.select :customer_type, Customer.customer_type.options, {},
        { class: 'ui dropdown' }

    .required.field
      = f.label :document, 'CPF'
      = f.input :document, label: false

    - if @customer.customer_common.plugin.property?
      .required.field
        = f.label :additional_info, 'CRECI'
        = f.input :additional_info, label: false

  .ui.dividing.header Dados para contato

  .three.fields
    .required.field
      = f.label :owner_name, 'Nome do responsável'
      = f.input :owner_name, label: false

    .required.field
      = f.label :owner_email, 'E-mail do responsável'
      = f.input :owner_email, label: false

    .field
      = f.label :owner_phone, 'Telefone do responsável'
      = f.input :owner_phone, label: false

  .field
    = f.label :contact_email, 'E-mail para contato'
    = f.input :contact_email, label: false

  .field
    = f.label :contact_phone, 'Telefone para contato'
    = f.input_field :contact_phone, name: 'contact_phone[]',
      value: @customer.contact_phone.first

  - @customer.contact_phone.drop(1).each do |phone|
    .field
      = render partial: 'contact_phone', locals: { phone: phone }

  #contact_phones

  .field
    = link_to 'Adicionar telefone',
      add_contact_phone_admin_customer_common_customers_path(@customer.customer_common_id),
      remote: true

  .ui.dividing.header Dados de localização

  .four.fields
    .required.field
      = label :region, :city_id, 'Bairro/Distrito'
      = collection_select :region, :city_id, City.all, :friendly_id, :name,
        { include_blank: 'Selecione' }, { class: 'ui dropdown', 'data-city': 'region_city_id' }

    .required.field
      = label :region, :district_group_id, 'Grupo de quadras'
      = grouped_collection_select :region, :district_group_id, City.all,
        :district_groups, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district-group': 'region_district_group_id' }

    .required.field
      = label :region, :district_id, 'Quadra'
      = grouped_collection_select :region, :district_id, DistrictGroup.all,
        :districts, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district': 'region_district_id' }

    .required.field
      = f.label :block_id, 'Bloco'
      = f.grouped_collection_select :block_id, District.all,
        :blocks, :name, :id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-block': 'customer_block_id' }

  .field
    = f.label :address_complement, 'Complemento'
    = f.input :address_complement, label: false

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar

= javascript_include_tag 'region-filter'

:javascript
  $(function() {
    city        = "#{@customer.block.district.district_group.city.slug rescue ''}"
    group       = "#{@customer.block.district.district_group.slug rescue ''}"
    district    = "#{@customer.block.district.slug rescue ''}"

    $(city_element).val(city).change();
    $(group_element).val(group).change();
    $(district_element).val(district).change();
  });
