%h2.ui.header Meu Perfil

.ui.divider

.ui.right.aligned.fluid.container
  = link_to 'Editar', edit_admin_customer_path(@customer.id)

%table.ui.definition.table
  %tbody
    %tr
      %td.three.wide.column Nome fantasia
      %td= @customer.fantasy_name
    %tr
      %td Razão social
      %td= @customer.name
    %tr
      %td Tipo
      %td= @customer.customer_type_text
    %tr
      %td Documento
      %td= @customer.document
    - if @customer.plugin.property?
      %tr
        %td CRECI
        %td= @customer.additional_info
    %tr
      %td Cidade
      %td= @customer.block.district.district_group.city.name rescue ''
    %tr
      %td Quadra
      %td= @customer.block.district.name rescue ''
    %tr
      %td Bloco
      %td= @customer.block.name rescue ''
    %tr
      %td Complemento
      %td= @customer.address_complement
    %tr
      %td Nome do responsável
      %td= @customer.owner_name
    %tr
      %td E-mail do responsável
      %td= @customer.owner_email
    %tr
      %td Telefone do responsável
      %td= @customer.owner_phone
    %tr
      %td E-mail para contato
      %td= @customer.contact_email
    %tr
      %td Telefone para contato
      %td
        .ui.list
          - @customer.contact_phone.each do |phone|
            .item= phone
    %tr
      %td Ativo?
      %td= @customer.status_text
    %tr
      %td Data de criação
      %td= @customer.created_at
    %tr
      %td Última atualização
      %td= @customer.updated_at
