- if @customer.plugin.market?
  = render partial: 'admin/markets/market_menu',
    locals: { customer_id: @customer.id, market_id: Market.where(customer: @customer.id).pluck(:id).first, tab: 'info' }
- else
  %h1.ui.header Detalhes
  .ui.divider

%table.ui.definition.table
  %tbody
    %tr
      %td.four.wide.column Nome fantasia
      %td= @customer.fantasy_name
    %tr
      %td Razão social
      %td= @customer.name
    %tr
      %td Descrição
      %td= @customer.description
    %tr
      %td Tipo
      %td= @customer.customer_type_text
    %tr
      %td= (@customer.customer_type.person?) ? 'CPF' : 'CNPJ'
      %td= @customer.document
    - if @customer.plugin.property?
      %tr
        %td CRECI
        %td= @customer.additional_info
    %tr
      %td.four.wide.column Cidade
      %td= @customer.block.district.district_group.city.name rescue '-'
    %tr
      %td.four.wide.column Quadra
      %td= @customer.block.district.name rescue '-'
    %tr
      %td.four.wide.column Bloco
      %td= @customer.block.name rescue '-'
    %tr
      %td.four.wide.column Complemento
      %td= @customer.address_complement
    %tr
      %td.four.wide.column Nome do responsável
      %td= @customer.owner_name
    %tr
      %td.four.wide.column E-mail do responsável
      %td= @customer.owner_email
    %tr
      %td.four.wide.column Telefone do responsável
      %td= @customer.owner_phone
    %tr
      %td.four.wide.column E-mail para contato
      %td= @customer.contact_email
    %tr
      %td.four.wide.column Telefone para contato
      %td= @customer.contact_phone_as_string
    %tr
      %td Ativo?
      - if @customer.status.pending_approval?
        %td{ style: "color: #E9B82B" }= "#{@customer.status_text} *"
      - else
        %td= @customer.status_text
    %tr
      %td Data de criação
      %td= @customer.created_at
    %tr
      %td Última atualização
      %td= @customer.updated_at

.ui.bottom.attached.warning.message
  %i.asterisk.icon
  Análise de cadastro. Dentro de instantes você receberá um email de confirmação.
