%h2.ui.header
  = "#{@market.customer.name} - #{@category.name}"
  .sub.header Gestão de especialidades

.ui.divider

= link_to new_admin_market_category_speciality_path(@market.id, @category.id),
    class: 'ui primary button' do
  %i.plus.icon
  Novo

%table.ui.striped.table
  %thead
    %tr
      %th Nome
      %th Ação
  %tbody
    = render @specialities
