%div{ id: "speciality-form-#{params[:category_id]}" }
  = simple_form_for [:admin, @market, @market.specialities.build],
      html: { class: 'ui form' } do |f|

    .fields
      .twelve.wide.field
        = f.input_field :id, collection: @specialities, include_blank: false,
          class: 'ui search dropdown'

      .four.wide.field
        = f.button :button, class: 'ui primary button' do
          %i.save.icon
          Salvar

        .ui.red.icon.button{ onclick: "cancel(#{params[:category_id]})", 'data-tooltip': 'Cancelar' }
          %i.remove.icon

:javascript
  $('.ui.dropdown').dropdown();

  function cancel(category) {
    $("#speciality-form-" + category).remove();
    $("#speciality-btn-" + category).show();
  }
