.middle.aligned.row
  .ten.wide.left.floated.column
    = link_to property.full_address, property_show_path(property.id)

  -# .six.wide.right.floated.column= image_tag property.customer.logo
  .six.wide.right.floated.column
    = image_tag 'http://192.168.0.5:3001/assets/visao-3ad0c41f85ef41118f30e18156a0327a2713efd43227f2e4e24125ee4c1b9e26.jpg'

  .ui.fluid.card
    .image
      = image_tag property.cover_image, class: 'ui fluid image'

      %div{ class: "ui #{commercial_situation(property.commercial_situation)} ribbon label" }
        = property.commercial_situation_text.upcase

      = link_to favorites_path(id: property.id, type: :Property), method: :post,
          remote: true do
        - favorited = Favorite.is_favorited?(current_user, property.id, :Property) ? 1 : 0
        .ui.right.floated.massive.heart.rating{ 'data-rating': favorited, 'data-max-rating': 1 }

      %p.price
        = (property.price.blank?) ? 'Sob consulta' : humanized_money_with_symbol(property.price_cents)

    .content
      .ui.three.column.center.aligned.grid
        .column
          %p.card-label Área (m²)
          %p.card-value= property.area
        .column
          - if property.property_type.residential?
            %p.card-label Quartos
          - elsif property.property_type.commercial?
            %p.card-label Salas
          %p.card-value= property.rooms
        .column
          %p.card-label Suítes
          %p.card-value= property.suites

    .ui.container
      = link_to property_show_path(property.id),
          class: 'ui labeled icon small secondary-button button' do
        %i.newspaper.icon
        VER DETALHES

      = link_to property.block.tour_link, target: :blank,
          class: 'ui labeled icon small property-button button' do
        %i.marker.icon
        TOUR 360º
