.property-index-section
  .title BUSCA EXCLUSIVA

  .ui.hidden.divider

  .sponsor-section
    - columns = (browser.device.mobile?) ? 'three' : 'six'
    %div{ class: "ui #{columns} column center aligned grid" }
      - @buttons.each do |button|
        .column
          = link_to list_properties_path(cliente: button.customer_id) do
            = image_tag button.image, class: 'ui fluid image'

  .ui.hidden.divider

  .title IMÓVEIS DESTAQUES

  .ui.hidden.divider

  - if browser.device.mobile?
    = render 'sponsor_property_mobile'
  - else
    = render 'sponsor_property'

  :javascript
    $('.ui.heart.rating').rating();
