.ui.header.title BUSCA EXCLUSIVA

.ui.vertical.stripe
  .ui.middle.aligned.container
    .ui.six.column.doubling.center.aligned.grid
      - @buttons.each do |button|
        .column
          -# = link_to list_properties_path(cliente: button.customer.customer_common_id) do
          = image_tag button.image

.ui.hidden.divider

.ui.header.title IMÓVEIS DESTAQUES

.ui.four.column.stackable.grid
  - @properties.each do |item|
    .column
      .ui.fluid.card
        .content
          = link_to favorites_path(id: item.sponsorable.id, type: :Property), method: :post,
              remote: true do

            - favorited = Favorite.is_favorited?(current_user, item.sponsorable.id, :Property) ? 1 : 0
            .ui.right.floated.heart.rating{ 'data-rating': favorited, 'data-max-rating': 1 }

          = link_to item.sponsorable.full_address, property_show_path(item.sponsorable.id),
            class: 'center aligned header'
        .image
          %div{ class: "ui #{commercial_situation(item.sponsorable.commercial_situation)} ribbon label" }
            = item.sponsorable.commercial_situation_text
          = link_to property_show_path(item.sponsorable.id) do
            = image_tag item.sponsorable.cover_image, class: 'card-image'
            %p= (item.sponsorable.price.blank?) ? 'Sob consulta' : number_to_currency(item.sponsorable.price)
        .content
          .ui.three.column.center.aligned.grid
            .column
              %p Área (m²)
              %p.card-value= item.sponsorable.area
            .column
              - if item.sponsorable.property_type.residential?
                %p Quartos
              - elsif item.sponsorable.property_type.commercial?
                %p Salas
              %p.card-value= item.sponsorable.rooms
            .column
              %p Banheiros
              %p.card-value= item.sponsorable.bathrooms

:javascript
  $('.ui.heart.rating').rating();
