= link_to 'Voltar', properties_path, class: 'ui primary button back-button'

.result-section
  %span.value 8
  %span.label imóveis encontrados

.ui.divider

- 8.times do
  .property-item-section
    .ui.clearing.segment
      .ui.rounded.image.property-image
        .ui.orange.ribbon.label Aluguel
        = image_tag 'https://resizedimgs.vivareal.com/z20_CIaue-RYOiLv-uUmfim7wwA=/fit-in/480x0/vr.images.sp/68728b86-ec5e-4a4a-b544-100c9aa34341.jpg'

      .property-content
        = link_to 'SQS 102 Bloco F', show_properties_path, class: 'ui medium header'

        .ui.huge.heart.rating{ 'data-rating': 0, 'data-max-rating': 1 }
        = image_tag 'https://dfaqui.s3.amazonaws.com/images/ccf05e321687bced2d923bedea4e513e.jpg', class: 'customer-brand'

        .ui.justified.container
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat,
          turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum
          odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor. Mauris
          pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit
          ante. Aliquam erat volutpat. Vestibulum erat nulla, ullamcorper

        .statistic-section
          .ui.mini.statistic
            .label Área (m²)
            .value 190

          .ui.mini.statistic
            .label Quartos
            .value 3

          .ui.mini.statistic
            .label Banheiros
            .value 2

        .action-section
          = link_to 'VER DETALHES', show_properties_path, class: 'ui small primary button'
          .ui.small.green.button COMÉRCIO
          .ui.small.yellow.button DELIVERY
          .ui.small.primary.property-color.button TOUR 360

  .ui.hidden.divider

:javascript
  $('.ui.heart.rating').rating();
