= link_to 'Voltar', properties_path, class: 'ui primary button back-button'

.result-section
  %span.value= @properties.count
  %span.label imóveis encontrados

.ui.divider

- @properties.each do |property|
  .property-item-section
    .ui.clearing.segment
      .ui.rounded.image.property-image
        %div{ class: "ui #{commercial_situation(property.commercial_situation)} ribbon label" }
          = property.commercial_situation_text
        = image_tag property.property_images.first.image

      .property-content
        = link_to property.full_address, property_show_path(property.id),
          class: 'ui medium header'

        .ui.huge.heart.rating{ 'data-rating': 0, 'data-max-rating': 1 }
        = image_tag property.customer.customer_common.logo, class: 'customer-brand'

        .ui.justified.container
          = truncate(property.description, length: 530)

        .statistic-section
          .ui.mini.statistic
            .label Área (m²)
            .value= property.area

          .ui.mini.statistic
            .label Quartos
            .value= property.rooms

          .ui.mini.statistic
            .label Banheiros
            .value= property.bathrooms

        .action-section
          = link_to 'VER DETALHES', property_show_path(property.id),
            class: 'ui small primary button'
          .ui.small.green.button COMÉRCIO
          .ui.small.yellow.button DELIVERY
          .ui.small.primary.property-color.button TOUR 360

  .ui.hidden.divider

:javascript
  $('.ui.heart.rating').rating();
