.ui.header.title= @property.full_address

.ui.stackable.grid
  .eleven.wide.column
    = render_tab_items(params[:tab], !@property.block.tour_link.blank?)

    .ui.segment.property-option
      %div{ class: "ui #{commercial_situation(@property.commercial_situation)} ribbon label" }
        = @property.commercial_situation_text
      = render_tab_content(params[:tab], !@property.block.tour_link.blank?)

    .ui.small.primary.button VER TELEFONE
    .ui.small.green.button ENVIAR MENSAGEM
    .ui.small.yellow.button COMÉRCIO
    .ui.small.primary.property-color.button DELIVERY

  .five.wide.column
    .ui.clearing.segment.general-section
      %span.price-label Valor
      %span.price-value
        - if @property.price
          = number_to_currency(@property.price)
        - else
          Sob consulta

      .ui.clearing.divider

      .statisct-secion
        .ui.mini.statistic
          .label Área (m²)
          .value= @property.area

        .ui.mini.statistic
          .label Quartos
          .value= @property.rooms

        .ui.mini.statistic
          .label Banheiros
          .value= @property.bathrooms

      .ui.favorite.divider

      .ui.primary.basic.fluid.button
        %i.heart.icon
        Adicionar aos favoritos

    .ui.clearing.segment.detail-section
      .ui.center.aligned.header Detalhes

      .ui.clearing.divider

      .ui.two.column.grid
        .right.aligned.column Situação
        .column= @property.release_status_text

        .right.aligned.column Tipo
        .column= @property.property_type_text

        .right.aligned.column Vagas
        .column= @property.parking_spaces

        .right.aligned.column Unidade
        .column= (@property.unit.nil?) ? '-' : @property.unit

        .right.aligned.column Andar
        .column= (@property.floor.nil?) ? '-' : @property.floor

        .right.aligned.column Valor (m²)
        .column= (@property.square_meter_price.nil?) ? '-' : number_to_currency(@property.square_meter_price)

        .right.aligned.column Condomínio
        .column= (@property.maintenance_fee.nil?) ? '-' : number_to_currency(@property.maintenance_fee)

        .right.aligned.column IPTU
        .column= (@property.tax.nil?) ? '-' : number_to_currency(@property.tax)

        .right.aligned.column Posição do sol
        .column= (@property.sun_position.nil?) ? '-' : @property.sun_position

        .right.aligned.column CRECI
        .column 12345

.ui.divider

%h2.ui.header Descrição

.ui.justified.container
  = @property.description

.ui.divider

%h2.ui.header Características

.ui.list
  .item
    %i.check.green.icon
    Brinquedoteca

  .item
    %i.check.green.icon
    Churrasqueira

  .item
    %i.check.green.icon
    Elevador

  .item
    %i.check.green.icon
    Piscina

  .item
    %i.check.green.icon
    Sauna

:javascript
  init_gallery();
