.ui.header.title= @property.full_address

.ui.stackable.grid
  .eleven.wide.column
    = render_tab_items(params[:tab], !@property.block.tour_link.blank?)

    .ui.segment.property-option
      %div{ class: "ui #{commercial_situation(@property.commercial_situation)} ribbon label" }
        = @property.commercial_situation_text
      = render_tab_content(params[:tab], !@property.block.tour_link.blank?)

    .ui.small.blue-color.contact.button{ onclick: "show_contact_info(#{@property.id})" } CONTATO

    = link_to 'ENVIAR MENSAGEM', new_message_path(item_id: @property.id, item_type: 'Property'),
      remote: true, class: 'ui small primary button'

    = link_to 'COMÉRCIO', list_markets_path(cep: @property.block.zipcode),
      class: 'ui small market-color button'

    = link_to 'DELIVERY', list_deliveries_path(cep: @property.block.zipcode),
      class: 'ui small delivery-color button'

  .five.wide.column
    .ui.clearing.segment.general-section
      %span.price-label Valor
      %span.price-value
        - if @property.price
          = humanized_money_with_symbol(@property.price_cents)
        - else
          Sob consulta

      .ui.clearing.divider

      .statisct-secion
        .ui.mini.statistic
          .label Área (m²)
          .value= @property.area

        .ui.mini.statistic
          - if @property.property_type.residential?
            .label Quartos
          - elsif @property.property_type.commercial?
            .label Salas

          .value= @property.rooms

        .ui.mini.statistic
          .label Banheiros
          .value= @property.bathrooms

      .ui.favorite.divider

      = link_to favorites_path(id: @property.id, type: :Property,
          path: property_show_path(@property.id)), method: :post,
          id: 'favorite-button', class: 'ui primary basic fluid button',
          remote: true do

        %i.heart.icon
        - if Favorite.is_favorited?(current_user, @property.id, :Property)
          Remover dos favoritos
        - else
          Adicionar aos favoritos

    .ui.clearing.segment.detail-section
      .ui.center.aligned.header Detalhes

      .ui.clearing.divider

      .ui.two.column.grid
        - if @property.release_status.present?
          .right.aligned.column Situação
          .column= @property.release_status_text

        - if @property.property_type.present?
          .right.aligned.column Tipo
          .column= @property.property_type_text

        - if @property.parking_spaces.present?
          .right.aligned.column Vagas
          .column= @property.parking_spaces

        - if @property.unit.present?
          .right.aligned.column Unidade
          .column= @property.unit

        - if @property.floor.present?
          .right.aligned.column Andar
          .column= @property.floor

        - if @property.square_meter_price.present?
          .right.aligned.column Valor (m²)
          .column= humanized_money_with_symbol(@property.square_meter_price_cents)

        - if @property.maintenance_fee.present?
          .right.aligned.column Condomínio
          .column= humanized_money_with_symbol(@property.maintenance_fee_cents)

        - if @property.tax.present?
          .right.aligned.column IPTU
          .column= humanized_money_with_symbol(@property.tax_cents)

        - if @property.sun_position.present?
          .right.aligned.column Posição do sol
          .column= @property.sun_position_text

        - if @property.customer.additional_info.present?
          .right.aligned.column CRECI
          .column= @property.customer.additional_info

.ui.divider

%h2.ui.header Descrição

.ui.justified.container
  = @property.description

- if @property.tags.any?
  .ui.divider

  %h2.ui.header Características

  .ui.list
    - @property.tags.each do |tag|
      .item
        %i.check.green.icon
        = tag.name

= render partial: 'partials/contact_modal',
  locals: { item_id: @property.id, phones: @property.customer.contact_phone }

:javascript
  init_gallery();

  function show_contact_info(id) {
    $('.ui.modal.item-' + id).modal('show');
  }
