#advertisement-form
  .ui.small.long.advertisement.modal
    .content
      .ui.center.aligned.container
        %h1.ui.header
          Olá!
          .sub.header
            Bem vindo ao DFaqui.com.
            %br
            Veja como é fácil fazer o seu anúncio. Experimente.

        .ui.divider

      = simple_form_for @customer, url: advertisements_path, remote: true,
          html: { class: 'ui form' } do |f|

        #error-messages

        .ui.center.aligned.container
          .sub.header Qual o seu segmento?

        .field
          = f.select :plugin, Customer.plugin.options, {},
            { class: 'ui dropdown' }

        .ui.divider

        .two.fields
          .field
            = f.label :customer_type, 'Tipo'
            = f.select :customer_type, Customer.customer_type.options, {},
              { id: 'customer_customer_type', class: 'ui dropdown',
                'data-type': 'customer_customer_type' }

          .field
            = f.label :document, 'CPF'
            = f.input_field :document, class: 'person_document',
              'data-document': 'customer_document'

        .field
          = f.label :name, 'Razão Social'
          = f.input_field :name,
            placeholder: 'Digite a razão social ou seu nome'

        .field
          = f.label :owner_name, 'Responsável'
          = f.input_field :owner_name, placeholder: 'Nome do responsável'

        .two.fields
          .field
            = f.label :owner_phone, 'Telefone do responsável'
            = f.input_field :owner_phone, class: 'phone',
              placeholder: 'Tefone para uso interno'

          .field
            = f.label :owner_email, 'E-mail do responsável'
            = f.input_field :owner_email,
              placeholder: 'Digite o e-mail do responsável'

        .ui.divider

        %p.service-term
          Ao realizar cadastro você concorda com nossos Termos de Uso e Política
          de Privacidade.

        .send-button.field
          = f.button :button, class: 'ui primary button' do
            %i.send.icon
            Enviar

= javascript_include_tag 'mask-customer-type'

:javascript
  $('.ui.dropdown').dropdown({ placeholder: false });
