.section.one#section-one
  .ui.centered.stackable.grid
    .row= image_tag 'home/dfaqui_light.svg', class: 'dfaqui-light'

  %a{ href: '#section-two', 'data-toggle': 'slide' }
    = image_tag 'home/arrow.svg', class: 'arrow-slide'

.section.two#section-two
  .ui.centered.grid
    .ui.container
      .ui.horizontal.divider
        .ui.header.title O DF todo aqui
      .ui.text.container
        .header.sub
          Utilize esse espaço para tratar conosco sobre anúncios em nosso site ou assuntos relacionados.
          Por favor, preencha o formulário que entraremos em contato em breve.

      .ui.three.column.stackable.grid
        .column
          = link_to properties_path do
            = image_tag 'home/imovel.png'
        .column
          = link_to deliveries_path do
            = image_tag 'home/delivery.png'
        .column
          = link_to markets_path do
            = image_tag 'home/comercio.png'

.section.three#section-three
  .ui.centered.grid
    .ui.container
      .ui.horizontal.divider
        .ui.header.title Tudo bem pertinho de você
      .ui.text.container
        .header.sub
          Utilize esse espaço para tratar conosco sobre anúncios em nosso site ou assuntos relacionados.
          Por favor, preencha o formulário que entraremos em contato em breve.

      = image_tag 'home/pin_servicos.png', class: 'pin-servico'

%div{ align: 'center' }
  = image_tag 'home/dfaqui_blue.svg', class: 'footer-brand'
  %p DFaqui © 2016 - Todos os direitos reservados.

.container.footer
  .ui.container
    .ui.four.column.stackable.doubling.center.aligned.grid
      .column= link_to 'Política de uso'
      .column= link_to 'Quem somos'
      .column= link_to 'Contato'
      .column= link_to 'Anuncie'
