.section.one#section-one
  .ui.vertical.center.aligned.segment
    = image_tag 'home/dfaqui_light.svg', class: 'dfaqui-light'

    .ui.text.container
      %h1.ui.inverted.header Onde você está?
      = select_tag :cidade, options_from_collection_for_select(City.all, :friendly_id, :name),
        include_blank: 'Selecione', class: 'ui dropdown'

    -# %a{ href: '#section-two', 'data-toggle': 'slide' }
      = image_tag 'home/arrow.svg', class: 'arrow-slide'

.section.two#section-two
  .ui.centered.grid
    .ui.container
      .ui.horizontal.divider
        .ui.header.title O DF todo aqui
      .ui.text.container
        .header.sub
          Se você procura por imóveis, estabelecimentos nas proximidades ou tudo
          %br
          que entrega em sua casa é só escolher um dos canais abaixo.

      .ui.three.column.stackable.grid
        .column
          %a.channel-link{ onclick: "go_to_channel('#{properties_path}')" }
            = image_tag 'home/imovel.png'
        .column
          %a.channel-link{ onclick: "go_to_channel('#{markets_path}')" }
            = image_tag 'home/comercio.png'
        .column
          %a.channel-link{ onclick: "go_to_channel('#{deliveries_path}')" }
            = image_tag 'home/delivery.png'

.section.three#section-three
  .ui.centered.grid
    .ui.container
      .ui.horizontal.divider
        .ui.header.title Tudo bem pertinho de você
      .ui.text.container
        .header.sub
          Agora ficou mais fácil encontrar tudo o que você precisa para o seu dia-a-dia.
          %br
          Desde uma casa para alugar, um saboroso sushi ou uma lavanderia.

      = image_tag 'home/pin_servicos.png', class: 'pin-servico'

%div{ align: 'center' }
  = image_tag 'home/dfaqui_blue.svg', class: 'footer-brand'
  %p DFaqui © 2016 - Todos os direitos reservados.

.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.horizontal.inverted.small.divided.link.list
      %a.item Política de uso
      %a.item Quem somos
      %a.item Contato
      %a.item Anuncie


:javascript
  $('.ui.dropdown').dropdown({ placeholder: false });

  function go_to_channel(path) {
    city = $('#cidade').val();

    if(city) {
      path = path + '?cidade=' + city;
    }

    window.location = path;
  }
