= simple_form_for([:admin, @product.market, @product],
    html: { class: 'ui form' }) do |f|

  .three.fields
    .required.field
      = f.label :name, 'Nome'
      = f.input_field :name

    .field
      = f.label :price, 'Valor'
      = f.input_field :price

    .field
      = f.label :photo, 'Imagem'
      = f.file_field :photo

  .field
    = f.label :description, 'Descrição'
    = f.input_field :description, as: :text

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar
