= simple_form_for([:admin, @market, @product], html: { class: 'ui form' }) do |f|

  - if @product.errors.any?
    .ui.red.message
      .header Favor corrigir os seguintes erros
      %ul.list
        - @product.errors.full_messages.each do |message|
          %li= message

  .three.fields
    .required.field
      = f.label :name, 'Nome'
      = f.input_field :name

    .field
      = f.label :price_cents, 'Valor'
      = f.input_field :price_cents, as: :string, class: 'money'

    .field
      = f.label :photo, 'Imagem'
      = f.file_field :photo

  .field
    = f.label :description, 'Descrição'
    = f.input_field :description, as: :text

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar
