%tr
  %td
    = image_tag (product.photo_url.nil?) ? 'default_product.png' : product.photo_url,
      class: 'ui tiny image'
  %td= product.name
  %td= truncate(product.description)
  %td= number_to_currency product.price
  %td= product.status
  %td
    .ui.icon.top.right.pointing.dropdown.primary.tiny.button
      %i.setting.icon
      .menu
        = link_to edit_admin_product_path(product.id, market_id: @market.id),
            class: 'item' do
          %i.edit.icon
          Editar

        = link_to admin_product_path(product.id),
            data: { confirm: 'Tem certeza de que deseja remover esse produto?' },
            method: :delete, class: 'item' do
          %i.remove.icon
          Remover
