.row
  .column
    - show_path = (current_channel == 'comercio') ? market_show_path(market.id) : delivery_show_path(market.id)
    = link_to show_path do
      = image_tag market.customer.logo, class: 'ui rounded bordered left floated image'
      .left.floated.content
        .ui.small.header= market.customer.fantasy_name

        .ui.horizontal.divided.list
          .item= open_label(market)
          .item= market.customer.full_address(:without_complement)

        .ui.horizontal.divided.list.price-category
          - if market.price_category.present?
            .item= price_category(market.price_category)

          .item{ style: 'color: #4183C4' }
            Ver detalhes
