- content_for :banner do
  #market-show-section
    .ui.bottom.aligned.column.banner.grid
      .column
        .ui.container
          = image_tag @market.customer.logo,
              class: 'ui rounded bordered customer image'

          .main-section
            .section-one
              .ui.medium.header= @market.customer.fantasy_name

              = link_to favorites_path(id: @market.id, type: :Market),
                  method: :post, remote: true do

                - favorited = Favorite.is_favorited?(current_user, @market.id, :Market) ? 1 : 0
                .ui.massive.heart.rating{ 'data-rating': favorited, 'data-max-rating': 1 }

            .section-two
              .ui.horizontal.divided.list
                .item= open_label(@market)
                .item= @market.customer.full_address

                - if @market.delivery? && current_channel == 'comercio'
                  .item
                    .ui.yellow.label Delivery

            .section-three
              .ui.horizontal.divided.list
                - if @market.estimated_time.present?
                  .estimated-time.item
                    %i.fitted.clock.icon
                    = distance_of_time(@market.estimated_time * 60)
                - if @market.price_category.present?
                  .item
                    - 5.times do |i|
                      - color = (@market.price_category > i) ? 'yellow' : 'white'
                      %i{ class: "#{color} dollar fitted icon" }

            .section-four
              = tags(@market)

:javascript
  $('.ui.heart.rating').rating();
