%h2.ui.header Alterar senha

.ui.divider

= simple_form_for([:admin, @user], url: { action: 'update_password' },
    html: { class: 'ui form' }) do |f|

  - if @user.errors.any?
    .ui.red.message
      .header Favor corrigir os seguintes erros
      %ul.list
        - @user.errors.full_messages.each do |message|
          %li= message

  .required.field
    = f.label :password, 'Nova senha'
    = f.input_field :password, autofocus: true

  .required.field
    = f.label :password_confirmation, 'Confirme a senha'
    = f.input_field :password_confirmation

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar

:javascript
  $(function() {
    $('#user_password').val('');
  });
