= simple_form_for([:admin, @property], html: { class: 'ui form' }) do |f|
  .required.field
    = f.label :customer, 'Cliente'
    = f.input_field :customer_id, collection: Customer.properties(current_user),
      include_blank: false, class: 'ui fluid search dropdown'

  .ui.dividing.header Dados gerais

  .three.fields
    .required.field
      = f.label :property_type, 'Tipo'
      = f.select :property_type, Property.property_type.options, {},
        { class: 'ui dropdown' }

    .required.field
      = f.label :commercial_situation, 'Situação'
      = f.select :commercial_situation, Property.commercial_situation.options, {},
        { class: 'ui dropdown' }

    .required.field
      = f.label :release_status, 'Estado'
      = f.select :release_status, Property.release_status.options, {},
        { class: 'ui dropdown' }

  .field
    = f.label :description, 'Descrição'
    = f.input :description, as: :text, label: false

  .ui.dividing.header Localização

  .four.fields
    .required.field
      = label :region, :city_id, 'Bairro/Distrito'
      = collection_select :region, :city_id, City.all, :friendly_id, :name,
        { include_blank: 'Selecione' }, { class: 'ui dropdown', 'data-city': 'region_city_id' }

    .required.field
      = label :region, :district_group_id, 'Grupo de quadras'
      = grouped_collection_select :region, :district_group_id, City.all,
        :district_groups, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district-group': 'region_district_group_id' }

    .required.field
      = label :region, :district_id, 'Quadra'
      = grouped_collection_select :region, :district_id, DistrictGroup.all,
        :districts, :name, :friendly_id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-district': 'region_district_id' }

    .required.field
      = f.label :block_id, 'Bloco'
      = f.grouped_collection_select :block_id, District.all,
        :blocks, :name, :id, :name, { include_blank: 'Selecione' },
        { class: 'ui dropdown', 'data-block': 'property_block_id' }

  .field
    = f.label :address_complement, 'Complemento'
    = f.input :address_complement, label: false

  .ui.dividing.header Detalhes

  .five.fields
    .required.field
      = f.label :rooms, 'Quartos'
      = f.input :rooms, label: false

    .required.field
      = f.label :bathrooms, 'Banheiros'
      = f.input :bathrooms, label: false

    .required.field
      = f.label :parking_spaces, 'Vagas de garagem'
      = f.input :parking_spaces, label: false

    .field
      = f.label :floor, 'Andar'
      = f.input :floor, label: false

    .field
      = f.label :unit, 'Unidade/Loja'
      = f.input :unit, label: false

  .five.fields
    .required.field
      = f.label :area, 'Área (m²)'
      = f.input :area, label: false

    .field
      = f.label :price, 'Valor'
      = f.input :price, label: false

    .field
      = f.label :tax, 'IPTU'
      = f.input :tax, label: false

    .field
      = f.label :maintenance_fee, 'Condomínio'
      = f.input :maintenance_fee, label: false

    .field
      = f.label :sun_position, 'Posição do sol'
      = f.input_field :sun_position, as: :select, include_blank: 'Selecione',
        collection: Property.sun_position.options, class: 'ui dropdown'

  .ui.dividing.header Características

  .field
    = f.association :tags, as: :check_boxes, label: false, include_hidden: false

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar

= javascript_include_tag 'region-filter'

:javascript
  $(function() {
    city        = "#{@property.block.district.district_group.city.slug rescue ''}"
    group       = "#{@property.block.district.district_group.slug rescue ''}"
    district    = "#{@property.block.district.slug rescue ''}"

    $(city_element).val(city).change();
    $(group_element).val(group).change();
    $(district_element).val(district).change();
  });
