= simple_form_for([:admin, @market.customer, @market],
    html: { class: 'ui form' }) do |f|

  .three.fields
    .required.field
      = f.label :segment_id, 'Segmento'
      = f.input_field :segment_id, collection: Segment.all, include_blank: false,
        class: 'ui search dropdown'

    .field
      = f.label :price_category, 'Preço médio'
      = f.input_field :price_category, collection: (1..5).map{|v| ['$' * v, v]},
        include_blank: 'Selecione', class: 'ui dropdown'

    .required.field
      = f.label :always_open, 'Aberto 24 horas?'
      = f.input_field :always_open, collection: [['Sim', true], ['Não', false]],
        include_blank: false, class: 'ui dropdown'

  .three.fields
    .required.field
      = f.label :delivery, 'Delivery?'
      = f.input_field :delivery, collection: [['Sim', true], ['Não', false]],
        include_blank: false, class: 'ui dropdown'

    .field
      = f.label :only_delivery, 'Apenas delivery?'
      = f.input_field :only_delivery, collection: [['Sim', true], ['Não', false]],
        include_blank: false, class: 'ui dropdown'

    .field
      = f.label :estimated_time, 'Tempo de entrega'
      = f.input :estimated_time, label: false

  .field
    = f.button :button, class: 'ui primary button' do
      %i.save.icon
      Salvar
