%tr
  %td= market.customer.name
  %td= market.customer.full_address
  %td= market.delivery
  %td
    .ui.icon.top.right.pointing.dropdown.primary.tiny.button
      %i.setting.icon
      .menu
        = link_to admin_market_path(market.id), class: 'item' do
          %i.search.icon
          Detalhes

        = link_to admin_market_products_path(market.id), class: 'item' do
          %i.shopping.basket.icon
          Produtos

        = link_to admin_market_categories_path(market.id), class: 'item' do
          %i.tag.bag.icon
          Tipos e Especialidades

        = link_to admin_market_working_hours_path(market.id), class: 'item' do
          %i.clock.icon
          Expediente

        - if market.delivery?
          = link_to admin_market_cities_path(market.id), class: 'item' do
            %i.shipping.icon
            Locais de entrega

        = link_to admin_market_payment_methods_path(market.id), class: 'item' do
          %i.payment.icon
          Formas de pagamento

        = link_to edit_admin_market_path(market.id), class: 'item' do
          %i.edit.icon
          Editar

        = link_to admin_market_path(market.id), method: :delete, class: 'item',
            data: { confirm: 'Tem certeza de que deseja remover esse comércio?' } do
          %i.remove.icon
          Remover
