.market-tabs
  - is_delivery = (market_id.present?) ? Market.select(:delivery).find(market_id).delivery : false
  - steps_count = (is_delivery) ? 'six' : 'five'

  %div{ class: "ui #{steps_count} mini steps" }
    -# details tab
    - path = (market_id.present?) ? edit_admin_market_path(market_id) : new_admin_market_path
    = link_to path, class: "step #{'active' if tab == 'detail'}" do
      %i.sticky.note.icon
      .content
        .title Detalhes

    -# category tab
    - path = (market_id.present?) ? admin_market_categories_path(market_id) : nil
    = link_to path,
        class: "step #{ 'disabled' if market_id.nil? } #{ 'active' if tab == 'category' }" do
      %i.tags.icon
      .content
        .title Tipos e Especialidades

    -# hour tab
    - path = (market_id.present?) ? admin_market_working_hours_path(market_id) : nil
    = link_to path, class: "step #{ 'disabled' if market_id.nil? } #{ 'active' if tab == 'hour' }" do
      %i.clock.icon
      .content
        .title Horário de funcionamento

    -# city tab
    - if is_delivery
      - path = (market_id.present?) ? admin_market_cities_path(market_id) : nil
      = link_to path, class: "step #{ 'disabled' if market_id.nil? } #{ 'active' if tab == 'city' }" do
        %i.truck.icon
        .content
          .title Locais de entrega

    -# payment tab
    - path = (market_id.present?) ? admin_market_payment_methods_path(market_id) : nil
    = link_to path, class: "step #{ 'disabled' if market_id.nil? } #{ 'active' if tab == 'payment' }" do
      %i.payment.icon
      .content
        .title Forma de pagamento

    -# product tab
    - path = (market_id.present?) ? admin_market_products_path(market_id) : nil
    = link_to path, class: "step #{ 'disabled' if market_id.nil? } #{ 'active' if tab == 'product' }" do
      %i.shopping.basket.icon
      .content
        .title Produtos

.ui.section.divider
