!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' }

    %title DFaqui | Gestão
    = csrf_meta_tags
    = javascript_include_tag 'core', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .ui.fixed.top.menu
      %a#hideToggle.icon.active.item{ href: 'javascript:void(0)' }
        %h3
          %i.chevron.left.icon

      %a#showToggle.icon.active.item{ href: 'javascript:void(0)' }
        %h3
          %i.chevron.right.icon

      -# %a.item{ href: '#', 'data-toggle': 'slide' }
      = link_to admin_path, class: 'item' do
        %h3 DFaqui

      .menu.right
        %a.icon.item.pointer{ 'data-toggle': 'popup', 'data-content': '#user', 'data-position': 'bottom right' }
          = image_tag 'dfaqui_profile_logo.jpg', class: 'ui avatar image'

        #user.ui.popup
          .ui.secondary.vertical.menu
            .header.item MENU
            %a.item
              Configurações
              %i.user.icon

            .ui.divider

            = link_to destroy_user_session_path, method: :delete, class: 'item' do
              Sair
              %i.sign.out.icon

    .pusher
      .ui.fluid.container
        .ui.two.column.grid
          #sideMenu.side.menu
            .profile{ align: 'center' }
              %br
              = link_to admin_path do
                = image_tag 'dfaqui_profile_logo.jpg', class: 'ui circular image',
                  width: '150px'

              .ui.white.header= current_user.name
              .ui.divider

            #verticalMenu.ui.fluid.vertical.menu
              - if current_user.has_role? :admin
                = link_to rails_admin_path, class: 'item' do
                  %i.angle.right.icon
                  Administração

              = link_to admin_customers_path, class: 'item' do
                %i.angle.right.icon
                Clientes

              - if (current_user.has_role? :admin) || (current_user.has_role? :market, :any)
                = link_to admin_markets_path, class: 'item' do
                  %i.angle.right.icon
                  Comércios

              - if (current_user.has_role? :admin) || (current_user.has_role? :property, :any)
                = link_to admin_properties_path, class: 'item' do
                  %i.angle.right.icon
                  Imóveis

              - if current_user.has_role? :admin
                = link_to admin_users_path, class: 'item' do
                  %i.angle.right.icon
                  Usuários

          #content.sixteen.wide.column
            = yield

  = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
