!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title DFaqui
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'core', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    - channel = 'comercio' if current_channel.in?(['delivery', 'comercio'])
    - channel = 'imoveis' if current_channel == 'imoveis'
  %body
    = render 'partials/navbar'

    - if params[:action] != 'show' && !params[:frame].present?
      - if channel.present?
        = render 'partials/banner'

      = render "partials/#{channel}_search_bar" if channel

    .ui.container.content-section
      = yield
