!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'}

    %title DFaqui
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    - channel_style = 'comercio' if current_channel.in?(['delivery', 'comercio'])
    - channel_style = 'imoveis' if current_channel == 'imoveis'

    = stylesheet_link_tag    "application/#{channel_style}", media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'partials/navbar'

    - if params[:action] != 'show'
      = render 'partials/banner'
      = render 'partials/search_bar'

    = yield :banner

    .ui.container.app-content
      = yield

    = render 'partials/footer'
